.mi-cuenta {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .mi-cuenta h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .pedidos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0pc;
  }
  
  .pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .pedido button {
    background-color: #ff7700;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .Direcciones {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Direccion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .Direccion button {
    background-color: #ff7700;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }