.contenedor_vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.308); 
    padding: 10px;
    border-radius: 10px;
}

.input_form {
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.308);
    color: white;
    
    /*cambiar el color del placeholder*/
}


















