.desactivado {
    background-color: rgba(255, 0, 0, 0.308);
}

.activo {    
  background-color:rgba(128, 128, 128, 0.295);
}

.targeta_imagen {
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    margin: 10px;
}









